.hotel_card {
  margin: auto;
  width: 300px;
  height: 280px;
  background: linear-gradient(135deg, #d6e8f6 0%, #b2c3f8 100%);
  border-radius: 7px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
