@font-face {
  font-family: "Finlandica";
  src: local("Finlandica"),
    url("src/assets/Finlandica/Finlandica-VariableFont_wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "Catamaran";
  src: local("Catamaran"),
    url("src/assets/Catamaran/Catamaran-VariableFont_wght.ttf")
      format("truetype");
}

body {
  color: #005dac;
  margin: 0;
  font-size: xx-large;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Finlandica", sans-serif;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Catamaran", sans-serif;
}

p {
  display: flex;
  justify-content: center;
  font-family: "Catamaran", sans-serif;
  font-size: 1.75rem;
}

@media screen and (min-width: 780px) {
  .search {
    margin-left: 25%;
  }
  #searchbar {
    width: 30%;
  }
}

#searchbar {
  margin-bottom: 80px;
  margin-top: 5px;
  margin-left: 10%;
  padding: 15px;
  border-radius: 10px;
  border-color: navy;
  width: 60%;
}
input {
  background-color: rgba(255, 255, 255, 0.233);
  color: black;
}
.search {
  display: flex;
}
