@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.leaflet-container {
  width: 70%;
  height: 50vh;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
