@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url("/assets/cursor.png");
}

body {
  margin: 0;
}

.leaflet-container {
  width: 90%;
  height: 50vh;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
